html body, main{
padding:0;
margin:0;
text-align:center;
max-width:100vw;
}

.sign-page {
margin-top:170px;
}
.text-field {
    text-align: center;
    height: 50px;
    font-size: 28px;
    color: gray;
    width: 400px;
    margin: 10px 0px;
    border: solid 1px darkgray;
    border-radius: 10px;
}
.reg-butt {
    text-align: center;
    height: 35px;
    font-size: 16px;
    width: 100px;
    margin: 10px 0px;
    color: white;
    border-radius: 15px;
    display:inline;
}
.text-field-2 {
    text-align: center;
    height: 30px;
    font-size: 16px;
    color: gray;
    width: 200px;
    margin: 10px 0px;
    border: solid 1px darkgray;
    border-radius: 10px;
}
.butt {
    margin-top: 25px;
    height: 50px;
    width: 300px;
    color:white;
    font-size:24px;
    border-radius:5px;    
}
.step-butt {
    border: 0px;
    background-color: blue;
}
.sign-page label {
font-size:42px;
}
.back-butt {
    background-color: blue;
    margin-top: 25px;
    height: 50px;
    width: 300px;
}
.step2-butt {
    display: flex;
    align-items: center;
    justify-content:center;
    border: solid 2px rgba(0,0,255,0.4);
    color: rgba(0,15,230,0.3);
}

.alter-butt {
    width:200px;
    height:40px;
    border: solid 0px;
    background-color: blueviolet;
}
.create-butt {
    background-color: blue;
}

.direct {
    margin:0px;
    padding:0px;
text-decoration:none;
}
    .direct:visited {
        color: rgba(0,15,230,0.3);
    }

.stared {

}
.main{
display:flex;
flex-direction:column;
align-items:center;
}
.text-field_prof {
    text-align: center;
    height: 30px;
    font-size: 16px;
    color: gray;
    width: 200px;
    margin: 10px 7px;
    border: solid 1px darkgray;
    border-radius: 10px;
}
.red {
color:red;
}
.date-container {
    position:relative;
}
.date-create {
    position: absolute;
    bottom: 30px;
    left:10px;
}
.text-select {
  
    text-align: center;
    text-align-last: center;
}

.text-select option {
    text-align: left;
}
.position-r {
position:fixed;
bottom:30px;
right:20px;
}
.position-r-2 {
    border-radius: 10px;
    padding: 3px;
    border: solid 2px blueviolet;
    color: blueviolet;
    position: fixed;
    bottom: 90px;
    right: 20px;
}
.pinned-container {
    margin-top:10px;
    border-radius: 10px;
    padding: 3px;
    border: solid 2px blueviolet;
    color: blueviolet;
}
.pinned {
    font-size: 18px;
}
.send-field_prof {
    text-align: center;
    height: 30px;
    font-size: 16px;
    color: gray;
    width: 300px;
    
}
.send-container {
    border: solid 1px darkgray;
    border-radius: 10px;
    margin: 10px 7px;
    min-width:300px;
    min-height:30px;
}
    .send-container label:hover {
        color: royalblue;
        font-size: 20px;
    }
.file-create {

    font-size: 18px;
}

.date {
    text-align: center;
    height: 30px;
    font-size: 16px;
    color: gray;
    width: 200px;
    margin: 10px 7px;
    border: solid 1px darkgray;
    border-radius: 10px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-container-2{
    display: flex;
    justify-items:flex-start;
    align-items:flex-start;
}
.sex {
padding-bottom:5px;
}
.correct-t {
padding-bottom:2px;
}
.row {
margin-right:15px;
}
    .row .flex-container {
    margin-top:10px;
    }
.send {
margin-top:30px;
}
.table {
    display: inline-block;
    max-width:10000px;
    margin:40px 10px;
    border-collapse: collapse;
    border:solid 2px black;
    border-radius:10px;
}
table {
    border-collapse: collapse;
}
th, td {
    border: solid 1px black;
    border-collapse: collapse;
}
td {
padding:0px 10px;
}
.butt-table {
    font-size:13px;
height:30px;
width:100px;
margin:2px 0px;
}
.butt-table-2 {
    padding-top: 10px;
    display: block;
    background-color: rgba(254, 30, 30,0.65);
    color: black;
}
    .butt-table-2:visited, .butt-table-1:visited {
        color: black;
    }
.butt-table-1 {
        padding-top: 10px;
        display: block;
        background-color: rgba(176, 245, 27,0.65);
        color: black;
    }
.disabled {
display:none !important;
}
.disable {
    display: none;
}
.butt-table-3 {
    padding-top: 10px;
    display: block;
    background-color: rgba(247, 196, 27,0.65);
    color: black;
}
.grey {
background-color:rgba(111, 109, 109,0.5);

}
.position-l {
position:absolute;
top:20px;
left:30px;
}
.position-l:visited {
    color: white;
}
tr:hover {
    background-color:rgba(255, 172, 0, 0.1);
}
tr:hover:first-child {
    background-color: white;
}
div .reg label {
font-size:32px; 
}
.h-butt {
    padding: 2px 3px;
    border: solid 2px rgba(0,0,255,0.4);
    color: rgba(0,15,230,0.6);
}
.navigate {
margin-top:5px;
}
.login {
    max-width:110px;
position:absolute;
top:0px;
right:10px;
}
    .login span {
    display:block;
    margin-bottom:4px;
    }
.exit {
    font-size:16px;
    padding: 2px 3px;
    border: solid 2px rgba(245, 12, 12,0.5);
    color: rgba(245, 12, 12,0.4);
}
    .exit:visited {
        color: rgba(245, 12, 12,0.4);
    }
.decor {
text-decoration:none;
background-color:rgba(247, 166, 37,0.8);
}
.center {
text-align:center;
}
.number {
max-width:40px !important;
}


